.elementor-404 .elementor-element.elementor-element-b77a523{margin-top:144px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-404 .elementor-element.elementor-element-dcaed8c > .elementor-element-populated{margin:4px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-primary{font-size:20px;font-weight:500;text-transform:uppercase;letter-spacing:1.2px;color:var( --e-global-color-primary );margin:0px 0px 20px 0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-secondary{font-size:49px;font-weight:bold;text-transform:capitalize;line-height:1.3em;color:var( --e-global-color-secondary );margin:0px 0px 47px 0px;max-width:408px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider{height:4px;width:25px;background-color:var( --e-global-color-primary );}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-description{color:var( --e-global-color-secondary );font-size:16px;font-weight:300;line-height:1.6em;margin:45px 0px 0px 0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 > .elementor-widget-container{margin:-8px 0px 0px 0px;}.elementor-404 .elementor-element.elementor-element-ea071f5{animation-duration:1800ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-404 .elementor-element.elementor-element-a77dba3 input:not([type="submit"]){height:60px;border-radius:10px 10px 10px 10px;padding:0px 0px 0px 20px;margin:0px 0px 19px 0px;background-color:#F2F2F2;border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 input:not([type="submit"])::placeholder{font-size:16px;font-weight:400;font-style:normal;line-height:1.4em;color:#7A7A7A;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="text"]{transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="email"]{transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 select{transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 textarea{font-size:16px;font-weight:400;font-style:normal;height:161px;border-radius:15px 15px 15px 15px;padding:21px 0px 0px 22px;margin:0px 0px 37px 0px;background-color:#F2F2F2;border-style:solid;border-width:0px 0px 0px 0px;transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 textarea::placeholder{font-size:16px;font-weight:400;font-style:normal;color:#7A7A7A;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="submit"]{font-size:15px;font-weight:400;letter-spacing:0.45px;width:162px;height:52px;border-radius:5px 5px 5px 5px;padding:0px 0px 0px 0px;margin:6px 0px 0px 0px;background-color:var( --e-global-color-secondary );transition:all ease-out 0.3s;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="submit"]:hover{background-color:var( --e-global-color-primary );}.elementor-404 .elementor-element.elementor-element-a77dba3{animation-duration:1800ms;animation-delay:300ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-404 .elementor-element.elementor-element-cf5ecc6{margin-top:135px;margin-bottom:111px;padding:0px 35px 0px 35px;}.elementor-404 .elementor-element.elementor-element-b58998b{animation-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);}@media(max-width:1024px) and (min-width:768px){.elementor-404 .elementor-element.elementor-element-dcaed8c{width:100%;}}@media(max-width:1024px){.elementor-404 .elementor-element.elementor-element-b77a523{margin-top:58px;margin-bottom:0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-primary{margin:0px 0px 0px 0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-secondary{font-size:40px;margin:0px 0px 0px 0px;max-width:1600px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-description{font-size:14px;margin:50px 0px 0px 0px;max-width:429px;}.elementor-404 .elementor-element.elementor-element-a77dba3 input:not([type="submit"])::placeholder{font-size:14px;}.elementor-404 .elementor-element.elementor-element-a77dba3 textarea::placeholder{font-size:14px;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="submit"]{font-size:14px;}.elementor-404 .elementor-element.elementor-element-cf5ecc6{margin-top:100px;margin-bottom:80px;}}@media(max-width:767px){.elementor-404 .elementor-element.elementor-element-b77a523{margin-top:80px;margin-bottom:0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-secondary{font-size:30px;margin:0px 0px 10px 0px;}.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-description{margin:30px 0px 0px 0px;}.elementor-404 .elementor-element.elementor-element-a77dba3 input[type="submit"]{width:100%;}.elementor-404 .elementor-element.elementor-element-cf5ecc6{margin-top:70px;margin-bottom:70px;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-ea071f5 */.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider:after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: var( --e-global-color-secondary );
    position: absolute;
    left: 11%;
}
@media only screen and (max-width: 1025px) and (min-width: 767px) {
    .elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider:after{
    left: 5%;
}
}
@media only screen and (max-width: 1025px) and (min-width: 768px) {
.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-primary, .elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-secondary{
    margin: auto!important;
    text-align: center;
}
.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider{
    position: relative;
    margin: auto;
    margin-top:15px;
    left: -30px;
}
.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider:after {
    left: 34px;
}
}
@media only screen and (max-width: 768px) {

.elementor-404 .elementor-element.elementor-element-ea071f5 .aux-modern-heading-divider:after {
    left: 34px;
}
}/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-a77dba3 */@media only screen and (min-width: 767px) {
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-form .part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-form .part1 .wpcf7-form-control-wrap{
    flex-basis: 49%;
}}
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-form input[type="submit"]{
    margin-left: auto;
    display: inherit;
}
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-textarea{
    height: 161px;
    min-height: 161px;
}
.elementor-404 .elementor-element.elementor-element-a77dba3 .ajax-loader{
    display: none;
}
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-form-control.wpcf7-not-valid{
    margin: 0px 0px 2px 0px;
}
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-form-control-wrap span{
    margin-bottom: 15px;
}
@media only screen and (min-width: 1025px) {
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-response-output {
    position: absolute;
    bottom: -83px;
    left: 0;
    right: 0;
    font-size: 14px;
}
}
@media only screen and (max-width: 1025px) and (min-width:768px) {
.elementor-404 .elementor-element.elementor-element-a77dba3 .wpcf7-response-output {
    position: absolute;
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for aux_gmap, class: .elementor-element-b58998b */.elementor-404 .elementor-element.elementor-element-b58998b .aux-map-wrapper {
   border-radius: 15px;
}/* End custom CSS */